
@font-face {
    font-family: 'ifood-bold';
    src: url('/static/fonts/iFoodRCTextos-Bold.eot');
    src: local('iFood RC Textos Bold'), local('iFoodRCTextos-Bold'),
        url('/static/fonts/iFoodRCTextos-Bold.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/iFoodRCTextos-Bold.woff2') format('woff2'),
        url('/static/fonts/iFoodRCTextos-Bold.woff') format('woff'),
        url('/static/fonts/iFoodRCTextos-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ifood-regular';
    src: url('/static/fonts/iFoodRCTextos-Regular.eot');
    src: local('iFood RC Textos'), local('iFoodRCTextos-Regular'),
        url('/static/fonts/iFoodRCTextos-Regular.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/iFoodRCTextos-Regular.woff2') format('woff2'),
        url('/static/fonts/iFoodRCTextos-Regular.woff') format('woff'),
        url('/static/fonts/iFoodRCTextos-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root{
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
}

body{
    font-family: 'ifood-bold', Times, serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: #525252 solid;

    .logo-ifood{
    width: 8vw;
    margin: 20px;


    }
    h1{
    font-family: 'ifood-regular', Times, serif;
    font-size: 16px;
    color: #525252;
    margin: 20px;
    }
}

.principal{
    background-image: url(/static/imagens/background.svg);
    background-repeat: no-repeat;
    background-size:auto;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    
    .t1{
        font-size: 39px;
        align-items: center;
    }

    .t2{
        font-size: 39px;
    }

    h3{
        font-size: 29px;
    }

    p{
        font-size: 20px;
    }

    img{
        width: 1000px;
        height: 700px;
        
    }
}








    @media only screen and (max-width: 950px){ 
        header {
            margin-top: 25px;
            img{
                width: 120px;
                margin-left: 138px;
            }
            h1{
                display: none;
            }
        }
    }
